<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="grid nav__container">

                <div class="nav__logo">
                    <a href="/html/admin/admin_home.html" class="nav__logo-link">
                        <img src="/asserts/img/brand-logo@2x.png" alt="" class="nav-logo__img">
                    </a>
                </div>

                <ul class="nav__list">
                    <li class="nav__item">
                        <div class="nav__item-link nav__admin nav__form-logged-in">
                            <div class="nav__admin-icon">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            Admin

                            <div class="nav__form-admin">
                                <ul class="form-admin__list">
                                    <li class="form-admin__item">
                                        <a href="/" class="form-admin__item-link">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            <span class="form-admin__link-title">Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

</body>
</html>