<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div class="sidebar">
            <h3>Trang chủ admin</h3>
            <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_home' else '' }}"
                       href="{{ url_for('admin.admin_home') }}">
               Tổng quan
            </a>
           <div class="sidebar-dropdown">
                <div class="sidebar-dropdown__title" onclick="togglePostMenu()">
                    Quản lý bài đăng
                    <span class="arrow" id="postArrow">▾</span>
                </div>

                <div class="sidebar-dropdown__menu" id="postMenu">
                    <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_property' else '' }}"
                       href="{{ url_for('admin.admin_property') }}">
                        Tất cả bài đăng
                    </a>
                    <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_negative_properties' else '' }}"
                       href="{{ url_for('admin.admin_negative_properties') }}">
                        Bài đăng tiêu cực
                    </a>
                </div>
            </div>


           <div class="sidebar-dropdown">
                <div class="sidebar-dropdown__title" onclick="toggleReviewMenu()">
                    Quản lý bài đánh giá
                    <span class="arrow" id="reviewArrow">▾</span>
                </div>

                <div class="sidebar-dropdown__menu" id="reviewMenu">
                    <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_review_management' else '' }}"
                       href="{{ url_for('admin.admin_review_management') }}">
                        Tất cả đánh giá
                    </a>

                    <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_review_report' else '' }}"
                       href="{{ url_for('admin.admin_review_report') }}">
                        Bình luận bị báo cáo
                    </a>
                </div>
            </div>

            <a class="{{ 'sidebar--active' if request.endpoint == 'admin.admin_user_management' else '' }}"
               href="{{ url_for('admin.admin_user_management') }}">
               Quản lý tài khoản
            </a>

        </div>
<script>

    function togglePostMenu() {
    const menu = document.getElementById("postMenu");
    const arrow = document.getElementById("postArrow");

    menu.classList.toggle("active");
    arrow.classList.toggle("rotate");
}

function toggleReviewMenu() {
    const menu = document.getElementById("reviewMenu");
    const arrow = document.getElementById("reviewArrow");

    menu.classList.toggle("active");
    arrow.classList.toggle("rotate");
}
</script>
</body>
</html>