#table-container{
    width : 100vw;
    background-color: var(--white-color);
    padding : 10px;
}
#table-container h3{
    font-size: 2.35rem;
    margin: 22px 0;

}
#addPropertyForm{
    width: 100%;
    padding: 15px;
    display: none;
}
#addPropertyForm select{
    min-width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
#addPropertyForm .form__submit{
    color : var(--white-color);
}
#addPropertyForm .form__bottom{
    max-width: 50%;
}

#editPropertyForm{
    width: 100%;
    padding: 15px;
    display: none;
}
#editPropertyForm select{
    min-width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
#editPropertyForm .form__submit{
    color : var(--white-color);
}
#editPropertyForm .form__bottom{
    max-width: 50%;
}
/* for class */
.property_management{
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    min-height: calc(100% - 110px);
    overflow-y: auto;
}


.property__search{
    width: 80%;
    display: flex;
    align-items: center;
}
.property_management table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.classify__title{
    color : var(--text-color);
    font-size: 1.8rem;
}
.property__classify{
    text-align: center;
}
.property__alignment{
    border-radius: 20px;
    padding: 10px 15px;
}
.property__alignment[data-type="profession"] {
    background-color: #0a5c29 ;
    color: var(--white-color);

}

.property__alignment[data-type="working-form"] {
    background-color: #fbd1d1;
    color: #5c0a0a;
}
.property__alignment[data-type="level"] {
    background-color: var(--orange-color);
    color: #f5f5f5;
}

.property__add{
    display: flex;
    font-size: 1.5rem;
    margin: 10px 0;
}
.property__add-list{
    font-size: 1.5rem;
    margin: 10px 0;
}
.list__add-link{
    font-size: 1.3rem;
    text-decoration: none;
}

/* form add Property */
.form__title{

}
.form__content{
    margin-top: 30px;
}
.form__item{
    max-width: 50%;
}
.form__item label{
    font-size: 2rem;
    color : var(--green-color);
}
.form__item + .form__item{
    margin-top: 30px;
}
.form__item select{

}
.form__submit{

}