body{
    min-height: 100vh;
}
.admin{
    width: 100%;
}
/* container */
.container{
    min-height: calc(100vh - 60px);
    display: flex;
    width: 100%;
    border-top : 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar h3 {
    margin-bottom: 20px;
    color: #f39c12;
    font-size: 2rem;
}
.category--active{
    color : #f5f5f5;
}
.category__list{
    list-style: none;
    padding-left: 0;
}
.sidebar--active{
    background-color: #34495e;
}

.sidebar a {
    font-size: 1.8rem;
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    margin: 10px 0;
    padding: 20px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #34495e;
}

th,td{
    text-align: left;
    padding: 10px;
}
th{
    background-color: #3498db;
    color: white;
    font-size: 1.8rem;
    border-bottom: 1px solid #ecf0f1;
}
th{
    position: sticky;
    top : 0;
}
td{
    font-size: 1.7rem;
    border: 1px solid rgba(0,0,0,0.2);
}
/* operations */
.operations{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.operation{
    margin: 0 5px;
}
.operation i{
    padding : 10px;
    font-size: 1.6rem;
    color : var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
}
.operation:hover{
    cursor: pointer;
}
.operation__edit{
    display: block;
    text-decoration: none;
}


/* search */
.search__input{
    flex: 2;
    margin-right: 15px;
}
.search__input,.search__status-filter select{
    min-height: 32px;
    padding: 5px;
    font-size: 1.6rem;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.search__status-filter{
    flex : 1;
    display: flex;
    align-items: center;
}

.search__status-filter span{
    font-size: 1.6rem;
    margin-right: 5px;
}
.search__status-filter select{
    flex: 1;
    margin-right: 15px;
}
.search__submit{
    min-width: 120px;
    height : 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(244,160,50);
    color : var(--white-color);
    font-size: 1.4rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}
.search__submit:hover{
    cursor: pointer;
    background-color: var(--orange-color);
}
.search__submit i{
    margin : 0 5px;
}

/* form */
.form__title{
    font-size: 2.5rem;
}
.form__content{
    padding: 0 5px;
}
.form__item{
    margin: 8px 0;
}
.form__content label{
    display: block;
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 10px;
}
.form__content input{
    display: flex;
    min-height: 32px;
    width: 100%;
    outline: none;
    padding: 10px 0 10px 10px;
}
.form__submit{
    min-width: 240px;
    height : 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: rgba(244,149,50);;
}
.form__submit:hover{
    cursor: pointer;
    background-color: rgb(200,149,0);
    color : var(--white-color);
}

/* form logged in */
.nav__admin{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.2);
}
.nav__admin-icon{
    margin-right: 5px;
}
.nav__form-admin{

    position: absolute;
    min-width: 200px;
    top : calc(100% + 10px);
    right: -50px;
    z-index: 1;
    background-color: white;
    padding : 15px 10px 10px;
    border : 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    display: none;
}
.form-admin__list{
list-style: none;
padding-left: 0px;
text-align: center;
}
.form-admin__item{
padding : 5px 0;

}
.form-admin__item a i{
color : var(--text-color);
}

.menu__link i{
font-weight: 550;
}
.menu__link-title{
font-size: 1.8rem;
margin-left: 5px;
}
.form-admin__item-link{
    text-decoration: none;
    color : var(--text-color);
}
.form-admin__item-link:hover span{
    color : var(--blue-color);
}
.form-admin__item-link:hover i{
    color : var(--blue-color);
}

/* form back */
.form__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.form__back{
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    color : var(--blue-color);
}