:root{
    --white-color : white;
    --text-color : rgb(102, 102, 102);
    --black-color : black;
    --border-color : grey;
    --blue-color : rgb(0, 105, 219);
    --orange-color : rgb(244, 149, 50);
    --green-color : rgb(0, 122, 55);
}

*{
    box-sizing: border-box;
}

html,body{
    font-size : 62.5%;
    font-family: Roboto,sans-serif;
    margin : 0;
    box-sizing: inherit;
}
/* header website  */
.header{
    width: 100%;
}
.nav{
    display: flex;
    position: relative;
    top: 0;
    width : 100%;
    height : 70px;
    align-items: center;
}

/* navigation for employer */
.nav__employer{
    width : 100%;
    background: linear-gradient(0deg,rgb(0, 31, 88), rgb(7, 31, 78));
}
.nav__employer-container{
    height : 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__employer-list{
    display: flex;
    align-items: center;
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}

/* Container cho biểu tượng và ô nhập liệu */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}
.input__container-search i{
    color : var(--white-color);
}
.seacrh__lable{
    padding: 0 5px ;
}
/* CSS cho biểu tượng bên trong ô nhập liệu */
.icon-inside {
    position: absolute;
    left: 10px;
    font-size: 14px;
    color: #888;
}

/* CSS cho ô nhập liệu tìm kiếm */
.search-input {
    padding: 10px 10px 10px 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
}

/* CSS cho ô nhập liệu địa điểm */
.location-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
    border-radius: 5px;
    border-left: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input::placeholder, .location-input::placeholder {
    color: #ccc;
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 0;
}
.nav-logo__img{
    width : 100%;
    height : 50px;
}
.nav__list{
    display: flex;
    background-color: var(--black);
    padding-left: 0;
    list-style: none;
    align-items: center;
}
.nav__user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.2);
}
.nav__user-icon{
    display: flex;
    color : var(--text-color);
    min-width : 25px;
    height : 25px;
    border-radius: 50%;
    background-color: #e1e1e1;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.nav__user-img{
    width : 30px;
    height : 30px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);
}
/* nav menu */

.nav__dropdown-menu{

        position: absolute;
        min-width: 350px;
        top : calc(100% + 10px);
        right: 0;
        z-index: 1;
        background-color: white;
        padding : 15px 10px 10px;
        border : 1px solid rgba(0,0,0,0.3);
        border-radius: 5px;
        display: none;
}
/* .nav__user:hover .nav__dropdown-menu{
    display: block; */
/* } */
.menu__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn{
    min-width: 152px;
    height : 40px;
    border-radius: 20px;
    border : 1px solid var(--border-color);
    font-size: 1.6rem;
    font-weight: 500;

}
.menu__register{
    background-color: var(--blue-color);
    color : #f5f5f5;
    cursor: pointer;
}
.menu__register:hover{
    color : var(--white-color);
    background-color: rgb(1, 87, 179);
}
.menu__login{
    background-color: var(--white-color);
    color : var(--blue-color);
    border: 1px solid var(--blue-color);
    cursor: pointer;
}
.menu__login:hover{
    border: 1px solid var(--text-color);
}
.btn + .btn{
    margin-left: 20px;
}
.menu__list{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
.menu__item{
    padding : 5px 0;

}
.menu__link{
    text-decoration: none;
    color : var(--text-color);
}
.nav__item a i{
    color : var(--text-color);
}
.menu__link:hover{
    background-color: #ccc;
    display: block;
}
.menu__link-icon{
    font-weight: 550;
}
.menu__link-title{
    font-size: 1.8rem;
    margin-left: 5px;
}

.nav-sticky{
    position: sticky;
    top : 0;
    z-index: 10;
    background-color: var(--white-color);
    box-shadow: 1px 0 5px 1px rgba(0,0,0,0.2);
}
.nav__item-link{
    font-size: 1.6rem;
    text-decoration: none;
    color : #0e1225;
    cursor: pointer;
}
.nav__item{
    margin : 0 10px;
    font-weight: 200;
}
.nav__item-link{
    font-size: 1.6rem;
    text-decoration: none;
    color : var(--text-color);
}
.nav-item__icon{
    color : var(--text-color);
}
.nav__item-link--separated{
    position: relative;
}
.nav__item-link--separated::before{
    content: "";
    display: block;
    height : 16px;
    border: .1px solid rgba(102, 102, 102,0.2);
    position: absolute;
    left : -10px;
    top : 50%;
    transform: translateY(-50%);
}


.grid{
    max-width : 1400px;
    width : 100%;
    margin : 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    width : 100%;
    /* margin : 0 -5px; */

}
.grid__col-8{
    width: 66.66%;
    padding: 0 5px;
}
.grid__col-6{
    width : 50%;
    padding : 0 5px;
}
.grid__col-4{
    width : 33.33%;
    padding: 0 5px;
}
.grid__col-3{
    width : 25%;
    padding : 0 5px;
}
.grid__col-2{
    width : 16.66%;
    padding: 0 5px;
}
.grid__col-9{
    width : 75%;
    padding: 0 5px;
}
.grid__col-10{
    width : 83.34%;
    padding : 0 5px;
}
.grid__1100{
    width : 100%;
    margin: 0 auto;
    max-width: 1100px;
}
.slick_action__buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left : 0.1%;
    width : 99.9%;
    display: flex;
    justify-content: space-between;
}
.slick__action{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    border: none;
    color : var(--text-color);
    font-weight: bold;
    font-size: 2.2rem;

}
.slick__action:hover{
    color: var(--blue-color) !important;
    border: 1px solid var(--blue-color) ;
}




/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination__item + .pagination__item{
    margin-left: 10px;
}
.pagination__item-link{
    display: block;
    height : 25px;
    min-width: 25px;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 50%;
    color : var(--text-color);
    border : 1px solid rgba(0,0,0,0.3);
}
.pagination__link--active{
    background-color: #f49532;
    color: var(--white-color);
}
/* footer */
.footer{
    background-color: #e5e5e5;
    padding : 20px 0 40px;
    border-top: 1px solid rgba(0,0,0,0.4);
    margin-top: 80px;
}
.footer__heading{
    font-size: 2.2rem;
    text-align: center;
}
.footer__list{
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 30px;
}
.footer__item{
    font-size: 1.6rem;
    color : var(--text-color);
    margin: 15px 0;
}
.footer__item:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* suggest */
.suggest__container{
    width : 100%;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 10px;
}
.suggest__head{
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 30px 0 20px 10px;
    margin: 0;

}
.suggest__head h3{
    margin: 0 0 10px 0;
}
.suggest__head span{
    font-size: 1.4rem;
    color : var(--blue-color)
}
.suggest-item{
    display: flex;
    min-height : 60px;
    align-items: center;
    padding: 10px 0;
}
.suggest-item + .suggest-item{
    border-top: 1px solid rgba(0,0,0,0.2);
}

.suggest-thumb{
    padding: 5px;
}
.suggest-thumb img{
    width : 3.5rem;
    height : 3.5rem;
}
.suggest-content{
    display: block;
    padding: 10px;
}
.suggest-lable{
    font-size: 1.8rem;
    text-decoration: none;
    color : #E20000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.suggest-company{
    text-decoration: none;
    display: -webkit-box;
    font-size: 1.5rem;
    margin-top: 2px;
    color : var(--black-color);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.suggest-info{
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-size: 1.3rem;
    color : var(--text-color);
}
.suggest-info i{
    margin-right: 3px;
}
.suggest-detail{
    display: flex;
    margin-top: 3px;
    justify-content: space-between;
    color : var(--blue-color);
    font-size: 1.3rem;
    align-items: center;
}
.suggest-save{
    font-size: 1.6rem;
}
